<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}RethinkDB Blog Project | Try New Tech{% endblock %}</title>
  {% block styles %}{% endblock %}
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  {% block priority_scripts %}{% endblock %}
</head>
<body>
  <h1><a href="{{ url_for('index') }}">Try RethinkDB Blog</a></h1>
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
