extends layout

block content
  h3 This is what I want to write:
  form(method='post', action='/post')
    input(type='text', name='post[title]', placeholder='This is my title...')
    br
    textarea(name='post[text]', cols='40', rows='5')
    br
    input(type='submit', value='Create')
