extends layout

block content
  h3 Users:
  ul
    each user in users
      li
        a(href='/user/#{user.id}/posts')= user.name
        |  (Visit this only after completing <strong>TODO #12</strong>)
